# As dependências são declaradas aqui. Sempre que adicionar uma nova, referencie me Linked Frameworks and Libraries e adicione os input e output files nesse arquivo e no build phase do projeto

#github "ReactiveX/RxSwift" ~> 4.0
#github "SnapKit/SnapKit" ~> 4.0.0
github "Moya/Moya"
github "Swinject/Swinject" "2.0.0"
github "Swinject/SwinjectStoryboard" "1.0.0"
github "onevcat/Kingfisher" ~> 4.0
github "hackiftekhar/IQKeyboardManager"
github "alexlittlejohn/ALCameraViewController"
github "pixeldock/RxAppState"

# Não se esqueça de adicionar os input files para o build phase copy-frameworks
# $(SRCROOT)/Carthage/Build/iOS/Alamofire.framework
# $(SRCROOT)/Carthage/Build/iOS/Kingfisher.framework
# $(SRCROOT)/Carthage/Build/iOS/Moya.framework
# $(SRCROOT)/Carthage/Build/iOS/Result.framework
# $(SRCROOT)/Carthage/Build/iOS/Rswift.framework
# $(SRCROOT)/Carthage/Build/iOS/RxCocoa.framework
# $(SRCROOT)/Carthage/Build/iOS/RxMoya.framework
# $(SRCROOT)/Carthage/Build/iOS/RxSwift.framework
# $(SRCROOT)/Carthage/Build/iOS/SnapKit.framework
# $(SRCROOT)/Carthage/Build/iOS/Swinject.framework
# $(SRCROOT)/Carthage/Build/iOS/SwinjectStoryboard.framework
# $(SRCROOT)/Carthage/Build/iOS/XLPagerTabStrip.framework
# $(SRCROOT)/Carthage/Build/iOS/IQKeyboardManager.framework
# $(SRCROOT)/Carthage/Build/iOS/CameraViewController.framework
# $(SRCROOT)/Carthage/Build/iOS/RxAppState.framework

# Não se esqueça também dos outputs
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/Alamofire.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/Kingfisher.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/Moya.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/Result.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/Rswift.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/RxCocoa.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/RxMoya.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/RxSwift.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/SnapKit.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/Swinject.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/SwinjectStoryboard.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/XLPagerTabStrip.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/IQKeyboardManager.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/CameraViewController.framework
# $(BUILT_PRODUCTS_DIR)/$(FRAMEWORKS_FOLDER_PATH)/RxAppState.framework